[submodule "frontend"]
	path = frontend
	url = https://github.com/Nojorono/frontend-md-dashboard.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/Nojorono/backend-md.git
	branch = main
