[submodule "frontend"]
	path = frontend
	branch = master
	url = https://github.com/Nojorono/frontend-md-dashboard.git
[submodule "backend"]
	path = backend
	branch = main
	url = https://github.com/Nojorono/backend-md.git